.carousel {
    display: flex;
    height: 420px;
    max-width: 100%;
    margin-left:"50px";
    padding: 5px;
    margin-top: 130px;
  }
  
  .carousel_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel_card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: ease-in-out;
  }
  
  .carousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
  }
  
  .card_image {
    width: 100%;
    object-fit: cover;
  }
  
  .card_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
  }
  
  .card_title {
    color: white;
    font-size: 30px;
  }
  
  .carousel_arrow_left,
  .carousel_arrow_right {
    position: absolute;
    font-size: 40px;
    top: 90%;
    transform: translate(0, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: white;
    padding-bottom: 12px;
    cursor: pointer;
  }
  
  .carousel_arrow_left {
    left: 40.5%;
  }
  
  .carousel_arrow_right {
    right: 40%;;
  }
  
  .carousel_pagination {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .pagination_dot {
    height: 10px;
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .pagination_dot:hover {
    transform: scale(1.2);
  }
  
  .pagination_dot-active {
    background-color: black;
  }

  .img{
    width: 99.35%;
    padding: 5px;
  }